<div ng-controller="mainController" class="container">
    <header class="formheader">Переводчик</header>
    <form class="Form">
    <input class="inputS" ng-model="translate.query" placeholder="Ввведите слово" type="text">
    <select class="inputS" ng-options="lang.value as lang.title for lang in lang" ng-model="translate.lang"> </select>
    <button class="inputS button" ng-click="translateIt()"> Перевести</button>
    <p>{{lang.value}}</p>
    </form>
<div>

    <p ng-repeat="Result in translateResult">{{Result.text}}</p>
    <p ng-repeat="Result in translateExample">{{Result.ex}}</p>

</div>
</div>